@forward '../styles/';
@use '../styles/abstract/' as *;

:where(body) {
	$gap: 0.5rem;

	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto 1fr auto;

	gap: $gap;

	background-color: var(--color-surface-100);
	padding: $gap;

	min-height: 100vh;
	min-height: 100dvh;

	color: var(--color-text);

	font-family: 'Quicksand', sans-serif;

	@media screen and (--md-n-below) {
		grid-template-areas:
			'header header header'
			'main main main'
			'footer footer footer';
		.sidebar {
			display: none;
		}
	}

	@media screen and (--lg-only) {
		grid-template-areas:
			'header main main'
			'header main main'
			'header footer footer';

		.sidebar {
			display: none;
		}
	}

	@media screen and (--lg-n-above) {
		grid-template-areas:
			'header main right'
			'header main right'
			'header footer footer';
	}

	> header {
		grid-area: header;
	}

	> main {
		grid-area: main;
	}

	.sidebar {
		grid-area: right;
		height: 100%;
	}

	> footer {
		grid-area: footer;
	}
}
