.header {
	display: grid;
	position: relative;
}

.profile-button,
.profile-wallet,
.search-list a,
.notification-link {
	transition-duration: 150ms;
	transition-property: background-color, outline, color;
	transition-timing-function: ease-out;

	outline: 1px solid var(--color-surface-200);
	border-width: 0;
	border-radius: var(--rounded-conditional-md);
	background-image: linear-gradient(
		300deg,
		transparent,
		var(--color-surface-200)
	);

	background-color: transparent;
	padding: 0.25rem 0.5rem;

	&:hover,
	&:focus-visible {
		outline: 1px solid var(--color-primary-100);
		background-color: var(--color-primary-100);
		color: var(--color-primary-900);
	}
}

.profile {
	display: grid;
	gap: 1rem;
	border: 1px solid var(--color-surface-200);
	border-radius: var(--rounded-conditional-lg);
	padding: 0.5rem;

	width: 12rem;

	height: max-content;

	&__header {
		.profile-link {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 0.5rem;
			row-gap: 1rem;
			place-items: center;

			outline: 1px solid transparent;
			border-radius: var(--rounded-conditional-md);
			padding: 0.25rem 0.5rem;

			&:hover,
			&:focus-visible {
				.profile-picture {
					outline-color: var(--color-primary-200);
					border-color: var(--color-primary-200);
				}
				.profile-name {
					color: var(--color-primary-800);
				}
			}
		}

		.profile-picture,
		.profile-name {
			grid-column: 1 / span 2;
		}

		.profile-picture {
			transition: border-color 200ms ease-out;
			outline: 1px solid transparent;
			border: 1px solid var(--color-surface-200);
			border-radius: var(--rounded-full);

			// padding-block: 1rem;
			aspect-ratio: 1;
			width: 6rem;
			height: 6rem;
			object-fit: cover;
			text-align: center;
		}

		.profile-name {
			transition: color 200ms ease-out;
			$clamp-line: 2;
			display: -webkit-box;
			max-width: 8rem;
			text-align: center;
			-webkit-line-clamp: $clamp-line;
			line-clamp: $clamp-line;
			-webkit-box-orient: vertical;
			box-orient: vertical;
			overflow: hidden;
			text-transform: capitalize;
		}
	}

	&__body {
		display: flex;
		gap: 0.5rem;

		.profile-button {
			display: grid;
			flex-grow: 1;
			place-items: center;
			padding-block: 0.5rem;
		}
	}

	&__footer {
		.profile-wallet {
			display: grid;
			grid-template-columns: auto 1fr;
			column-gap: 1rem;
			row-gap: 0.25rem;
			align-items: center;
			transition: background-color 0.5s ease 0s;

			> svg {
				grid-row: 1 / span 2;

				border: 1px solid var(--color-surface-200);
				border-radius: var(--rounded-full);
				background-color: oklch(from var(--color-surface-100) l c h / 0.75);
				padding: 0.5rem;

				width: 2.25rem;
				height: 2.25rem;
			}

			> small {
				opacity: 0.75;
				font-size: 0.75rem;
			}

			> p {
				letter-spacing: 0.075em;
			}
		}
	}
}

.search__dialog,
.notification__dialog {
	background-color: oklch(from var(--color-surface-100) l c h / 0.875);

	&::backdrop {
		opacity: 0;
		backdrop-filter: blur(1px);
		transition: opacity 200ms ease-in;
		background-color: oklch(from var(--color-surface-100) l c h / 0.3);
	}
}

// transition backdrop
.search__dialog[open]::backdrop,
.notification__dialog[open]::backdrop {
	opacity: 1;
}

.search__dialog {
	display: grid;
	gap: 1rem;
	$margin-top: 10dvh;
	opacity: transparent;
	backdrop-filter: blur(8px);

	margin: 0 auto 0;
	margin-top: $margin-top;
	inset: 0;

	padding: 0.5rem;
	width: min-content;

	max-height: calc(100dvh - $margin-top);

	.search-wrapper {
		position: relative;
		$icon-width: 2.5rem;

		input {
			outline: 1px solid var(--color-surface-300);
			border: inherit;
			border-radius: var(--rounded-conditional-md);
			background-color: var(--color-surface-100);
			padding-inline-start: $icon-width;
			padding-block: 0.5rem;
			width: clamp(27rem, 25.9565rem + 5.2174vw, 30rem);
			max-width: 100%;

			&:hover,
			&:focus-visible {
				outline: 1px solid var(--color-primary-200);
				~ svg {
					color: var(--color-primary-500);
				}
			}
		}

		svg {
			display: grid;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			opacity: 0.5;
			padding: 0.625rem;
			width: $icon-width;
			height: 100%;
			pointer-events: none;
		}
	}

	.search-list {
		display: grid;
		gap: 0.75rem;

		li {
			display: grid;
			a {
				display: flex;
				gap: 0.75rem;
				padding: 0.5rem 0.75rem;

				&::first-letter {
					text-transform: uppercase;
				}

				svg {
					opacity: 0.5;
				}
			}
		}
	}
}

.hr {
	border: 0.5px dashed var(--color-surface-300);
}

.notification__dialog {
	display: grid;
	gap: 0.5rem;
	transition:
		opacity 200ms ease-out,
		transform 200ms ease-in-out;

	width: clamp(27rem, 25.9565rem + 5.2174vw, 30rem);

	.notification-title {
		display: flex;
		align-items: center;
		gap: 0.75rem;
		padding: 0.25rem 0.5rem;

		~ .notification-title {
			margin-top: 0.25rem;
		}
	}

	.notification-list {
		display: grid;
		gap: 0.75rem;

		li {
			display: grid;
		}

		.notification-link {
			display: grid;
			grid-template-rows: auto auto;
			grid-template-columns: auto 1fr;
			column-gap: 1rem;
			row-gap: 0.25rem;
			// align-items: center;

			&:hover,
			&:focus-visible {
				img {
					border-color: var(--color-primary-100);
				}
			}

			img {
				grid-row: 1 / span 2;
				transition: border-color 200ms ease-in-out;
				border: 1px solid var(--color-surface-300);
				border-radius: var(--rounded-full);
				background-image: url('/profile-pictures/14.avif');
				aspect-ratio: 1;
				width: 3rem;
				height: 3rem;
				object-fit: cover;
				font-size: 0.5rem;
				text-align: center;
			}

			small {
				opacity: 0.75;
				transition: color 200ms ease-out;
				max-width: 20rem;
				overflow: hidden;
				font-style: italic;
				font-size: 0.75rem;
				text-overflow: ellipsis;
				text-transform: capitalize;
				white-space: nowrap;
			}

			p {
				&::first-letter {
					text-transform: uppercase;
				}
			}
		}
	}
}
