html :where(.section) {
	border: var(--color-surface-300) 1px solid;
	border-radius: var(--rounded-conditional-lg);
	padding: 0.5rem;

	@supports (backdrop-filter: none) {
		backdrop-filter: blur(8px);
	}
}
